
.selectionHintMarker{
	display: none;
	position: absolute;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
	border: 2px solid white;
	background: black;
	color: white;
	box-shadow: 2px 2px 3px #888888;
	font-size: 12px;
	min-width: 12px;
	border-radius: 4px;
	z-index:1000;
}



